<div class="row">
    <div class="d-flex flex-row col-md-6">    
        <input class="form-control" [(ngModel)]="pais" placeholder="Filtre por Pais" list="paises" (change)="obtenerEstadosPais()">
        <datalist id="paises">        
            <option *ngFor="let pais of paises" value="{{pais.id}}">
                {{pais.name}}
            </option>
        </datalist>
    </div>
    <div class="d-flex flex-row col-md-6">    
        <input class="form-control" [(ngModel)]="estado" placeholder="Ahora Filtre por Estado" list="estados" (change)="obtenerCiudadesEstado()">
        <datalist id="estados">     
            <option *ngFor="let estado of estados" value="{{estado.id}}">
                {{estado.name}}
            </option>
        </datalist>
    </div>
</div>

<br>
<div class="alert alert-danger" *ngIf="ciudades.length==0">Realice los filtros para ver las ciudades que desea.</div>
<table class="table table-striped" *ngIf="ciudades.length!=0" id="tablaCiudades">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ciudad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ciudad of ciudades">
            <td>{{ciudad.id}}</td>
            <td>{{ciudad.name}}</td>
            <td></td>
        </tr>
    </tbody>
  </table>