<div class="container h-100" *ngIf="panel==0">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card" style="top: 100px; height: 500px;">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="https://thumbs.dreamstime.com/b/icono-humano-logo-design-element-de-la-cerradura-de-la-seguridad-icono-humano-logo-design-element-de-la-cerradura-de-la-seguridad-95624868.jpg" class="brand_logo" alt="Logo">
          </div>
        </div>
        <div *ngIf="show==0">
          <div class="d-flex justify-content-center form_container">
            <form [formGroup]="profileForm" (ngSubmit)="ingresar()"> 
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" formControlName="usuario" class="form-control input_user" placeholder="Usuario">
              </div>
              
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control input_pass" placeholder="Contraseña">
              </div>
                <br>
                <div class="d-flex justify-content-center mt-3 login_container">
             <button type="submit" name="button" class="btn login_btn">Ingresar</button>
             </div>
            </form>
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              <a href="#" (click)="show=1" class="ml-2" routerLink="panel" Button>Registrarme!</a>
            </div>
            <br>
          </div>
        </div>
        <div *ngIf="show==1">
          <div class="d-flex justify-content-center form_container">
            <form [formGroup]="profileForm" (ngSubmit)="registrar()"> 
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" formControlName="usuario" class="form-control input_user" placeholder="Usuario">
              </div>              
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control input_pass" placeholder="Contraseña">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-flag"></i></span>
                </div>
                <select id="pais" class="form-control input_user" formControlName="pais" (change)="obtenerEstados()">
                    <option value="0">------PAIS------</option>
                    <option *ngFor="let pais of paises" value="{{pais.id}}">
                        {{pais.name}}
                    </option>
                </select>
              </div>
              <div class="input-group mb-3" *ngIf="mostrarEstado!=0">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-flag-checkered"></i></span>
                </div>
                <select class="form-control input_user" formControlName="estado" (change)="obtenerCiudades()">
                    <option value="0">-----ESTADO-----</option>
                    <option *ngFor="let estado of estados" value="{{estado.id}}">
                        {{estado.name}}
                    </option>
                </select>
              </div>
              <div class="input-group mb-3" *ngIf="mostrarCiudad!=0">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-university"></i></span>
                </div>
                <select class="form-control input_user"  formControlName="ciudad" >
                    <option value="0">-----CIUDAD-----</option>
                    <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}">
                      {{ciudad.name}}
                    </option>
                </select>
              </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                <button type="submit" name="button" class="btn login_btn">Registrarme</button>
             </div>
            </form>
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              <a href="#" (click)="show=0" class="ml-2">Ingresar!</a>
            </div><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-panel *ngIf="panel==1"></app-panel>
